<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Full-Stack JavaScript Week Four</title>
    </head>
    <body>
        <h1>Full-Stack JavaScript QAP2</h1>
        <menu>
        <b>Choose one of the routes below</b>
        <ul>
            <li><a href="/about">[ about ]</a></li>
            <li><a href="/contact">[ contact ]</a></li>
            <li><a href="/depart">[ depart ]</a></li>
            <li><a href="/subscribe">[ subscribe ]</a></li>
            <li><a href="/news">[ news ]</a></li>
            <li><a href="/404">[ 404 page ]</a></li>
            <li><a href="/">[ home ]</a></li>
        </ul>
        </menu>
    </body>
</html>